#topPane {
	-fx-border-color: black; 
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-background-color: rgb(95,143,190); 
	-fx-opacity: 0.7;
}

#topLabel {
	-fx-font-family:  "Tahoma";
	-fx-font-size: 20px;
	-fx-font-weight: 800;
	-fx-font-style: oblique;
	-fx-text-fill: black;
}

#exitButton {
	-fx-opacity: 0.5;
}

#exitButton:hover {
	-fx-opacity: 1;
}

#searchButton {
	-fx-font-family: "Tahoma";
	-fx-font-size: 25px;
	-fx-background-color: rgb(107,160,213);
}

#searchButton:hover {
	-fx-border-color: rgba(117,176,233, 0.3);
	-fx-border-width: 1px;
	-fx-background-color: rgb(119,179,238);
	}
	
#nearByRadio, #locationRadio, #similarRadio, #creatorRadio {
	-fx-font-family: "Tahoma";
}

#pleaseLabel {
	-fx-font-family: "Tahoma";
	-fx-text-fill: rgb(78,117,155);
}